/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
  /* The above and below should be the same value*/
.footer {
  /* Set the fixed height of the footer here */
  height: 80px;

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  
  text-align: center;
  /* Text color */
  color: #fff;
  /* Background color */
  background-color: #c9ad86;
  /* Top border color */
  border-top: 1px solid #e5e5e5;
}

.footer a{
  color:#fff;
  font-weight: bold;
}

.copyright-item {
  position: relative;
  top: -10px;
  margin-bottom: 0;
}