.investments-container {
	width: 100% !important;
}

.investments-price-img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 768px) {
	.investments-price-img {
		padding-right: 30px;
	}
}

.testimonial-div {
	padding: 0 5% 0 5%;
}

.testimonial-image {
	max-width: 20%;
	min-width: 200px !important;
	width: auto;
	padding: 5px 10px 5px 10px;
}

.testimonial-text {
	text-align: justify;
	padding: 10px 10px 5px 10px;
	font-size: 20px;
	font-size: 1.25em;
	font-style: italic;
}

.testimonial-title {
	text-align: left;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	font-size: 1.25em;
	padding: 5px 10px 5px 10px;
}

.testimonial-signature {
	padding: 5px 10px 5px 10px;
	font-size: 20px;
	font-size: 1.25em;
	font-style:italic;
}

@media (min-width: 768px) {
	.testimonial-div {
		padding: 0 15% 0 15%;
	}
	.testimonial-image {
		padding: 5px 10px 5px 10px;
	}
	.testimonial-text {
		padding: 20px 10px 5px 10px;
	}
	.testimonial-title {
		padding: 5px 10px 5px 10px;
	}
	.testimonial-signature {
		padding: 5px 10px 5px 10px;
	}
}

.fade {
	background-color: rgba(238,238,238,0.85);
}

.contact_text {
	color: #797374;
}

.contact_button {
	background-color:#917e59 !important;
	outline: none !important;
	border:1px solid #756d5f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	text-decoration:italic;
	text-shadow:0px 1px 0px #332a1b;
}
.contact_button:hover {
	background-color:#7a6847 !important;
	outline: none !important;
	border:1px solid #756d5f;
}
.contact_button:active {
	background-color: #5F5135 !important;
	outline:none !important;
}

.close_button {
	background-image: url('../../fancybox/source/fancybox_sprite.png');
	opacity: 1.0 !important;
	position: absolute;
	top: -7px;
	right: -9px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){
	.close_button {
		background-image: url('../../fancybox/source/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

.contact_input:focus { 
    outline: none;
    border-color: #917e59;
    box-shadow: 0 0 10px #917e59;
}