.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-container {
	padding-top:40px;
}

.nav-logo-img {
  position: relative !important;
  top: -10px !important;
  right: -5px !important;
}

.nav-item {
  margin: -2px;
}

@media (max-width: 767px) {
	.navbar-container {
		padding-top:20px;
		padding-bottom:20px;
	}
	.logo-div {
    	position: absolute;
    	left: 50%;
    	margin-left: -63px !important;  /* 50% of logo width */
    	display: block;
	}
	.collapse {
		border-top: 0 !important;
	}
	.navbar-collapse {
		border-top: 0 !important;
	}
}

a:focus {
	outline: none;
}

/* Generated below from http://work.smarchal.com/twbscolor */

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #797374;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ad974f;
}
.navbar-default .navbar-text {
  color: #797374;
}
.navbar-default .navbar-nav > li > a {
  color: #797374;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ad974f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ad974f;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ad974f;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #797374;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #797374;
}
.navbar-default .navbar-link {
  color: #797374;
}
.navbar-default .navbar-link:hover {
  color: #ad974f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #797374;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ad974f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ad974f;
    background-color: transparent;
  }
}

.navbar {
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
}